<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신청하기</title>
    <th:block th:replace="fragments.html :: head"></th:block>
    <!--    <link rel="stylesheet" href="css/tagify.scss">-->
    <!--    <link rel="stylesheet" src="/css/region.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="fragments.html :: navbar">상단바</div>
<div class="container">
    <div th:replace="fragments.html::work-info"></div>
    <div th:replace="fragments.html::work-menu(workMenu='settings')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html::work-settings-menu(currentMenu='description')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragments.html::message"></div>
            <form class="needs-validation" th:action="@{'/work/' + ${work.getPath()} + '/settings/description'}"
                  th:object="${workDescriptionDto}" method="post" novalidate>
                <div class="form-group">
                    <label for="content">짧은 소개</label>
                    <textarea id="content" type="textarea" th:field="*{content}"
                              class="form-control" placeholder="모임을 짧게 소개해 주세요."
                              aria-describedby="contentHelp"
                              required maxlength="100"></textarea>
                    <small id="contentHelp" class="form-text text-muted">
                        100자 이내로 모임을 짧은 소개해 주세요.
                    </small>
                    <small class="invalid-feedback">짧은 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}"
                           th:errors="*{content}"></small>
                </div>

                <div class="form-group">
                    <label for="fullDescription">상세 소개</label>
                    <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}"
                              class="form-control editor" placeholder="모임을 짧게 소개해 주세요."
                              aria-describedby="fullDescriptionHelp"
                              required maxlength="100"></textarea>
                    <small id="fullDescriptionHelp" class="form-text text-muted">
                        모임의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 모임원 등 모임에 대해 자세히 적어 주세요.
                    </small>
                    <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}"
                           th:errors="*{fullDescription}"></small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">
                        수정 하기
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- footer -->
</div>
<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script th:replace="fragments.html::form-validation"></script>
<script th:replace="fragments.html::editor-script"></script>
</body>
</html>