<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신청하기</title>
    <th:block th:replace="fragments.html :: head"></th:block>
    <!--    <link rel="stylesheet" href="css/tagify.scss">-->
    <!--    <link rel="stylesheet" src="/css/region.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <style>
        .tagify__dropdown.extra-properties .tagify__dropdown__item > img{
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            transform: scale(.75);
            margin-right: 5px;
            border-radius: 2px;
            transition: .12s ease-out;
        }

        .tagify__dropdown.extra-properties .tagify__dropdown__item--active > img,
        .tagify__dropdown.extra-properties .tagify__dropdown__item:hover > img{
            transform: none;
            margin-right: 12px;
        }

        .tagify.countries .tagify__input{ min-width:175px; }

        .tagify.countries tag{ white-space:nowrap; }
        .tagify.countries tag img{
            display: inline-block;
            height: 16px;
            margin-right: 3px;
            border-radius: 2px;
        }
    </style>

    <style>
        .container {
            max-width: 100%;
        }

        // 추가
        .tagify--outside{
            border: 0;
            padding: 0;
            margin: 0;
		}
    </style>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="fragments.html :: navbar">상단바</div>


<div class="container">

    <div class="row mt-5  justify-content-center">
        <div class="col sm-6">

            <form role="form" th:action="@{/work/create}" th:object="${workDto}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label th:for="title">경로</label>
                    <input type="text" th:field="*{path}" class="form-control mb-3" placeholder="예) work-path"
                           required min="2" max="20" aria-describedby="pathHelp">
                    <small id="pathHelp" class="form-text text-muted">
                        공백 없이 문자, 숫자, 대시(-)와 언더바(_)만 2자 이상 20자 이내로 입력하세요.
                        모임 홈 주소에 사용합니다. 예) /study/<b>study-path</b>
                    </small>
                    <small class="invalid-feedback">모임 경로를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">Path Error</small>
                </div>

                <div class="form-group">
                    <label th:for="title">모임 이름</label>
                    <input type="text" th:field="*{title}" class="form-control mb-3" placeholder="모임 이름"
                           required max="50" aria-describedby="titleHelp">
                    <small id="titleHelp" class="form-text text-muted">
                        모임 이름을 입력하세요
                    </small>
                    <small class="invalid-feedback">모임 이름를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</small>
                </div>

                <div class="form-group">
                    <label th:for="content">소개글</label>
                    <input type="text" th:field="*{content}" class="form-control mb-3" placeholder="소개글을 입력하세요"
                           required maxlength="100" aria-describedby="contentHelp">
                    <small id="contentHelp" class="form-text text-muted">
                        55자 이내로 모임을 짧게 소개해 주세요.
                    </small>
                    <small class="invalid-feedback">소개글 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">ShortDescription Error</small>
                </div>

                <div class="form-group">
                    <div id="whiteTagList" th:text="${whiteTagList}" hidden></div>
                    <label >주제 태그</label>
                    <input id="tags" type="text" name="tags" class="form-control mb-3" placeholder="설명을 입력하세요">
<!--                    <p th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">Incorrect Tag</p>-->
                </div>

                <div class="form-group">
                    <div id="whiteZoneList" th:text="${whiteZoneList}" hidden></div>
                    <label >활동 지역</label>
                    <input id="zones" type="text" name="zones" class="form-control mb-3" placeholder="설명을 입력하세요">
<!--                    <p th:if="${#fields.hasErrors('zones')}" th:errors="*{zones}">Incorrect Zone</p>-->
                </div>

                <div class="form-group">
                    <label th:for="address">상세주소</label>
                    <input type="text" class="form-control mb-3"  th:field="*{address}"
                           placeholder="상세주소를 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="phoneNum">대표 전화번호</label>
                    <input type="number" th:field="*{phoneNum}" class="form-control mb-3"  placeholder="번호를 입력하세요">
                </div>


                <div class="form-group">
                    <label for="fullDescription">상세 소개</label>
                    <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="form-control editor"
                              aria-describedby="fullDescriptionHelp" required></textarea>
                    <small id="fullDescriptionHelp" class="form-text text-muted">
                        모임의 목표, 일정, 진행 방식, 준비물, 모집중인 동아리원 등 모임에 대해 자세히 적어 주세요.
                    </small>
                    <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>
                </div>






                <!--        <div>-->
                <!--            <label th:for="zipcode">우편번호</label>-->
                <!--            <input type="text" class="form-control"  th:field="*{zipcode}"-->
                <!--                   placeholder="우편번호를 입력하세요">-->
                <!--        </div>-->

                <button type="submit" class="btn mt-2 btn-primary form-control">Submit</button>
            </form>
        </div>

        <br/>
    </div>

</div> <!-- /container -->

<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script th:replace="fragments.html::editor-script"></script>


<script type="application/javascript" th:inline="javascript">
    $(function () {
        const csrfToken = /*[[${_csrf.token}]]*/ null;
        const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        })
    });
</script>

<script type="application/javascript">
    $(function () { //화면 다 뜨면 시작

    function tagRequest(url, tagTitle){
        $.ajax({
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        method: "POST",
        url: "/work/create" + url,
        data: JSON.stringify({'tagTitle' : tagTitle})
      }).done(function (data, status) {
        console.log("${data} and status is ${status}");
      });
    }

    function zoneRequest(url, cityKrName){
        $.ajax({
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        method: "POST",
        url: "/work/create" + url,
        data: JSON.stringify({'cityKrName' : cityKrName})
      }).done(function (data, status) {
        console.log("${data} and status is ${status}");
      });
    }

    var tagTagify = new Tagify(document.querySelector('input[name=tags]'), {
        delimiters : '\,',
        whitelist : JSON.parse(document.querySelector("#whiteTagList").textContent),
        dropdown : {
            enabled: 1 // suggest tags after a single character input
        } // map tags' values to this property name, so this property will be the actual value and not the printed value on the screen
    })

    var zoneTagify = new Tagify(document.querySelector('input[name=zones]'), {
        delimiters : '\,',
        enforceWhitelist : true,
        whitelist : JSON.parse(document.querySelector("#whiteZoneList").textContent),
        dropdown : {
            enabled: 1 // suggest tags after a single character input
        } // map tags' values to this property name, so this property will be the actual value and not the printed value on the screen
    })

    function onAddTag(e) {
        tagRequest("/add/tag", e.detail.data.value);
    }

    function onRemoveTag(e) {
        tagRequest("/remove/tag", e.detail.data.value);
    }

    function onAddZone(e) {
        zoneRequest("/add/zone", e.detail.data.value);
    }

    function onRemoveZone(e) {
        zoneRequest("/remove/zone", e.detail.data.value);
    }

    tagTagify.on('add', onAddTag);
    tagTagify.on('remove', onRemoveTag);

    zoneTagify.on('add', onAddZone);
    zoneTagify.on('remove', onRemoveZone);


});
</script>


</body>
</html>