<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
<!--<div th:replace="fragments.html::main-nav"></div>-->
<!--<div th:replace="fragments.html::study-banner"></div>-->
<div th:replace="fragments.html :: navbar">상단바</div>


<div class="container">
    <div th:replace="fragments.html::work-info"></div>
    <div th:replace="fragments.html::work-menu(workMenu='info')"></div>

<!--    <div th:replace="fragments.html::member-list (members=${work.members}, isManager=${work.isManager(#authentication.principal)})" ,-->
<!--         class="row px-3 justify-content-center"></div>-->

    <!-- 본문 -->
    <div class="row px-3 justify-content-center">
        <div class="col-10 pt-3" th:utext="${work.fullDescription}"></div>
    </div>
    <!-- footer -->
<!--    <div th:replace="fragments.html::footer"></div>-->
</div>
<script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>