<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신청하기</title>
    <th:block th:replace="fragments.html :: head"></th:block>
    <!--    <link rel="stylesheet" href="css/tagify.scss">-->
    <!--    <link rel="stylesheet" src="/css/region.css" />-->
</head>
<body class="bg-light">
<div th:replace="fragments.html :: navbar">상단바</div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <!--Avatar-->
            <svg class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${member.name}" width="125" height="125"></svg>

        </div>
        <div class="col-8">
            <!--nickname-->
            <h1 class="display-4" th:text="${member.name}">Weekbelt</h1>
            <!--Bio-->
            <p class="lead" th:if="${!#strings.isEmpty(member.introduce)}" th:text="${member.introduce}"></p>
            <p class="lead" th:if="${#strings.isEmpty(member.introduce) && isOwner}">
                한 줄 소개를 추가해 주세요.
            </p>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill"
                   href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                   aria-selected="true">소개</a>
                <a class="nav-link" id="v-pills-study-tab" data-toggle="pill"
                   href="#v-pills-study" role="tab" aria-controls="v-pills-study"
                   aria-selected="false">스터디</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <p th:if="${!#strings.isEmpty(member.belong)}">
                        <span><i class="fa fa-link col-1"></i></span>
                        <span th:text="${member.belong}" class="col-11"></span>
                    </p>
                    <p th:if="${!#strings.isEmpty(member.actingArea)}">
                        <span><i class="fa fa-briefcase col-1"></i></span>
                        <span th:text="${member.actingArea}" class="col-9"></span>
                    </p>
<!--                    <p th:if="${!#strings.isEmpty(member.location)}">-->
<!--                        <span><i class="fa fa-location-arrow col-1"></i></span>-->
<!--                        <span th:text="${member.location}" class="col-9"></span>-->
<!--                    </p>-->
                    <p th:if="${isOwner}">
                        <span><i class="fa fa-envelope-o col-1"></i></span>
                        <span th:text="${member.email}" class="col-9"></span>
                    </p>
                    <p th:if="${isOwner || member.emailVerified}">
                        <span><i class="fa fa-calendar-o col-1"></i></span>
                        <span th:if="${isOwner && !member.emailVerified}" class="col-9">
                            <a href="#" th:href="@{'/checkemail?email=' + ${member.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                        </span>
                        <span th:text="${#temporals.format(member.signUpTime, 'yyyy년 M월 가입')}" class="col-9"></span>
                    </p>
                    <div th:if="${isOwner}">
                        <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-study" role="tabpanel" aria-labelledby="v-pills-study-tab">
                    Study
                </div>
            </div>
        </div>
    </div>

</body>
</html>