<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:fragment="configFragment">
        <!--        여기에 고용 css js library 선언-->
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/nav_bar.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css" />
        <!--    <link rel="stylesheet" src="/css/region.css" />-->
        <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    </th:block>




</head>


</html>