<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/config :: configFragment">

</head>
<body>

<nav_bar class="header" th:fragment="header">
    <h1>
        <a th:href="@{/}">아미플</a>
    </h1>
    <div id="menu">
        <ul>
            <li sec:authorize="isAnonymous()">
                <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            </li>

            <li sec:authorize="isAnonymous()">
                <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
            </li>

            <li sec:authorize="hasRole('ROLE_MEMBER')">
                <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/settings/profile}">내정보</a>
            </li>

            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
            </li>

            <li sec:authorize="hasRole('ROLE_MEMBER')">
                <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/work/create}">모임 만들기</a>
            </li>


        </ul>
    </div>
</nav_bar>
</body>
</html>