<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제목</title>
    <th:block th:replace="fragments.html :: head"></th:block>
    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->

</head>

<body>
<div th:replace="fragments.html :: navbar">상단바</div>

<div class="container-fluid">

    <!--    <article class="signup_box">-->
    <!--        <div class="title">내 정보</div>-->

    <div >
        <div class="row mt-5 justify-content-center" >
            <div class="col-2">
                <div th:replace="fragments.html :: settings-menu(currentMenu='account')"></div>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">완료</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <h2 class="col-12">닉네임 변경</h2>
                </div>
                <div class="row">
                    <form class="needs-validation col-12" th:object="${nicknameDto}" th:action="@{/settings/account}" method="post" novalidate>
                        <div class="alert alert-warning" role="alert">
                            닉네임을 변경하면 프로필 페이지 링크도 바뀝니다!
                        </div>
                        <div class="form-group">
                            <input id="name" type="text" th:field="*{name}" class="form-control" aria-describedby="nameHelp" required>
                            <small id="nameHelp" class="form-text text-muted">
                                공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                            </small>
                            <small class="invalid-feedback">닉네임을 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">변경하기</button>
                        </div>
                    </form>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-danger">계정 삭제</h2>
                        <div class="alert alert-danger" role="alert">
                            이 계정은 삭제할 수 없습니다.
                        </div>
                        <button class="btn btn-outline-danger disabled">계정 삭제</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!--        <form role="form" th:action="@{/settings/profile}" th:object="${profileDto}" method="post"-->
    <!--              enctype="multipart/form-data">-->


    <!--            <div class="signup">-->
    <!--                <label th:for="name" class="signup_label">이름</label><br>-->
    <!--                <input text="${member.name}" th:field="*{name}" class="signup_input" placeholder="이름을 입력하세요"-->
    <!--                       th:class="${#fields.hasErrors('name')}? 'signup_input fieldError' : 'signup_input'">-->
    <!--            </div>-->

    <!--            <div class="signup_fail">-->
    <!--                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <p class="signup_default" th:if="${!#fields.hasErrors('name')}"></p>-->
    <!--            </div>-->

    <!--            <div class="signup">-->
    <!--                <label th:for="introduce" class="signup_label">한 줄 소개</label><br>-->
    <!--                <input text="${member.introduce}" th:field="*{introduce}" class="signup_input" placeholder="소갯말을 입력하세요"-->
    <!--                       th:class="${#fields.hasErrors('introduce')}? 'signup_input fieldError' : 'signup_input'">-->
    <!--            </div>-->
    <!--            <div class="signup_fail">-->
    <!--                <p th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}">Incorrect introduce</p>-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <p class="signup_default" th:if="${!#fields.hasErrors('introduce')}" ></p>-->
    <!--            </div>-->

    <!--            <div>-->
    <!--                <label th:for="regionStr" class="signup_label">지역</label><br>-->
    <!--                <select required th:field="*{regionStr}" class="signup_select">-->

    <!--                    <option value="seoul" th:selected="${profileDto.regionStr=='seoul'}">서울특별시</option>-->
    <!--                    <option value="incheon" th:selected="${profileDto.regionStr=='incheon'}">인천광역시</option>-->
    <!--                    <option value="daejeon" th:selected="${profileDto.regionStr=='daejeon'}">대전광역시</option>-->
    <!--                    <option value="gwangju" th:selected="${profileDto.regionStr=='gwangju'}">광주광역시</option>-->
    <!--                    <option value="daegu" th:selected="${profileDto.regionStr=='daegu'}">대구광역시</option>-->
    <!--                    <option value="ulsan" th:selected="${profileDto.regionStr=='ulsan'}">울산광역시</option>-->
    <!--                    <option value="busan" th:selected="${profileDto.regionStr=='busan'}">부산광역시</option>-->
    <!--                    <option value="gyunggi" th:selected="${profileDto.regionStr=='gyunggi'}">경기도</option>-->
    <!--                    <option value="gangwon" th:selected="${profileDto.regionStr=='gangwon'}">강원도</option>-->
    <!--                    <option value="chungcheong_s" th:selected="${profileDto.regionStr=='chungcheong_s'}">충청북도</option>-->
    <!--                    <option value="chungcheong_n" th:selected="${profileDto.regionStr=='chungcheong_n'}">충청남도</option>-->
    <!--                    <option value="jeonla_s" th:selected="${profileDto.regionStr=='jeonla_s'}">전라북도</option>-->
    <!--                    <option value="jeonla_n" th:selected="${profileDto.regionStr=='jeonla_n'}">전라남도</option>-->
    <!--                    <option value="gyungsang_s" th:selected="${profileDto.regionStr=='gyungsang_s'}">경상북도</option>-->
    <!--                    <option value="gyungsang_n" th:selected="${profileDto.regionStr=='gyungsang_n'}">경상남도</option>-->
    <!--                    <option value="jeju" th:selected="${profileDto.regionStr=='jeju'}">제주도</option>-->
    <!--                </select>-->
    <!--            </div>-->

    <!--&lt;!&ndash;            <div class="signup">&ndash;&gt;-->
    <!--&lt;!&ndash;                <label th:for="files" class="signup_label">이름</label><br>&ndash;&gt;-->
    <!--&lt;!&ndash;                <input type="image">&ndash;&gt;-->
    <!--&lt;!&ndash;            </div>&ndash;&gt;-->



    <!--            <div class="signup" >-->
    <!--                <label th:for="files" class="signup_label">프로필 사진</label><br>-->

    <!--                <p><img th:src="${fileDto.filePath}" id="imageFile" alt="프로필 사진" width="200" height="200"/></p>-->
    <!--&lt;!&ndash;                <button type="button" id="file_btn">첨부파일</button><span id="span">등록된 첨부파일이 없습니다.</span>&ndash;&gt;-->
    <!--                <div>-->
    <!--                    <div id="image_container"></div>-->
    <!--                    <script>-->
    <!--                    function setThumbnail(event) {-->
    <!--                        var reader = new FileReader();-->
    <!--                        reader.onload = function(event) {-->
    <!--                            var img = document.createElement("img");-->
    <!--                            img.setAttribute("src", event.target.result);-->
    <!--                            document.querySelector("div#image_container").appendChild(img);-->
    <!--                        };-->
    <!--                        document.getElementById('imageFile').hidden = true;-->
    <!--                        reader.readAsDataURL(event.target.files[0]);-->
    <!--                    }-->



    <!--                </script>-->
    <!--                    <input type="file" th:field="*{files}" accept="image/png, image/jpeg"-->
    <!--                           class="form-control" max="1"-->
    <!--                           width="100" height="100" onchange="setThumbnail(event);">-->
    <!--&lt;!&ndash;                    onchange="fileUpload(this);"&ndash;&gt;-->
    <!--&lt;!&ndash;                    <span id="error_file" class="error_txt"></span>&ndash;&gt;-->

    <!--                </div>-->
    <!--            </div>-->



    <!--            &lt;!&ndash;            <div class="signup">&ndash;&gt;-->
    <!--            &lt;!&ndash;                <label th:for="city" class="signup_label">도시</label><br>&ndash;&gt;-->
    <!--            &lt;!&ndash;                <input type="text" th:field="*{city}" class="signup_input" placeholder="도시를 입력하세요">&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

    <!--            &lt;!&ndash;            <div class="signup">&ndash;&gt;-->
    <!--            &lt;!&ndash;                <label th:for="street" class="signup_label">거리</label><br>&ndash;&gt;-->
    <!--            &lt;!&ndash;                <input type="text" th:field="*{street}" class="signup_input"&ndash;&gt;-->
    <!--            &lt;!&ndash;                       placeholder="거리를 입력하세요">&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

    <!--            &lt;!&ndash;            <div class="signup">&ndash;&gt;-->
    <!--            &lt;!&ndash;                <label th:for="zipcode" class="signup_label">우편번호</label><br>&ndash;&gt;-->
    <!--            &lt;!&ndash;                <input type="text" th:field="*{zipcode}" class="signup_input"&ndash;&gt;-->
    <!--            &lt;!&ndash;                       placeholder="우편번호를 입력하세요">&ndash;&gt;-->
    <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

    <!--            <button type="submit" class="signup_button">Submit</button>-->
    <!--        </form>-->
    <!--    </article>-->
</div>


<!--</form>-->
</body>
</html>