<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제목</title>
    <link rel="stylesheet" href="/css/signup_box.css">
    <th:block th:replace="fragments.html :: head"></th:block>

</head>

<body>
<div th:replace="fragments.html :: navbar">상단바</div>

<div class="container-fluid">

    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu (currentMenu='password')"></div>
        </div>
        <div class="col-8 justify-content-center">
            <div class="row">
                <h2 class="col-sm-12 ml-2" text="비밀번호 변경" ><strong>비밀번호 변경</strong></h2>
            </div>

            <form action="#" th:action="@{/settings/changePassword}" th:object="${memberDto}"
                  method="post">
                <div class="row mt-3 ml-2" th:fragment="password-check-form">
                    <div class="col">
                        <div class="form-group">
                            <label th:for="password">변경할 비밀번호</label>
                            <input type="password" th:field="*{password}" class="form-control"
                                   placeholder="바꿀 비밀번호를 입력해주세요" aria-describedby="passwordHelp" required>
                            <small id="passwordHelp" class="form-text text-muted">
                                바꿀 비밀번호를 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}">
                                비밀번호 형식에 맞지 않습니다.
                            </small>
                        </div>

                        <div class="form-group">
                            <label th:for="password">비밀번호 확인</label>
                            <input type="password" name="passwordCheck" id="passwordCheck" class="form-control"
                                   placeholder="한 번 더 입력해주세요" aria-describedby="passwordCheckHelp" required>
                            <small id="passwordCheckHelp" class="form-text text-muted">
                                바꿀 비밀번호를 재입력 해주세요
                            </small>

                        </div>
                    </div>


                </div>

                <button type="submit" class="btn btn-primary mt-3 ml-4">Submit</button>
            </form>

        </div>
    </div>



</div>

<!--<article class="signup_box">-->
<!--    <div class="title">비밀번호 확인</div>-->
<!--    <form role="form" th:action="@{/settings/changePassword}" th:object="${memberDto}" method="post"-->
<!--          enctype="multipart/form-data">-->

<!--        <div class="signup">-->
<!--            <label th:for="password" class="signup_label">비밀번호</label><br>-->
<!--            <input type="password" id="password" th:field="*{password}" class="signup_input" placeholder="비밀번호를 입력하세요"-->
<!--                   th:class="${#fields.hasErrors('password')}? 'signup_input fieldError' : 'signup_input'">-->
<!--        </div>-->
<!--        <div class="signup_fail">-->
<!--            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호가 틀립니다.</p>-->
<!--        </div>-->

<!--        <div>-->
<!--            <p class="signup_default" th:if="${!#fields.hasErrors('password')}" ></p>-->
<!--        </div>-->

<!--        <div class="signup">-->
<!--            <label th:for="password" class="signup_label">비밀번호 확인</label><br>-->
<!--            <input type="password" name="passwordCheck" id="passwordCheck" class="signup_input" placeholder="비밀번호를 입력하세요"-->
<!--                   th:class="${#fields.hasErrors('password')}? 'signup_input fieldError' : 'signup_input'">-->
<!--        </div>-->




<!--        <button type="submit" class="signup_button">Submit</button>-->
<!--    </form>-->
<!--</article>-->


</body>
</html>