<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>안녕</title>
</head>
<body>
<div th:replace="fragments.html :: navbar">상단바</div>

<div class="container">

    <!--    <div class="row mt-3 ml-3 mr-3">-->
    <!--        <input class="col-sm-12 border-12" type="text" placeholder="">-->

    <!--    </div>-->

    <img class="" src="/img/bike-background.jpg"  style="width: 700px; height: 300px;">

    <div class="container">
        <div class="row">
            <div class="mt-4 ">
                <h4 class="col-12 ml-xl-90">카테고리</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/work/category/all" class="thumbnail">
                    <div class="category-title border">전체보기</div>
                    <img class="border" src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/work/category/bicycle" class="thumbnail ">
                    <div class="category-title">자전거</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">볼링</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">전체보기</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">자전거</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">볼링</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="/" class="thumbnail ">
                    <div class="category-title">보드게임</div>
                    <img src="/img/431f17616a9eb69355860768c75387cb.png">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>